{% extends 'main.html' %}

{% block content %}
    <div class="content">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-5">Sign Up</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}