{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}

<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Coming+Soon&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">


<div class="jumbotron text-center" style="background-color: rgb(102, 82, 87); color: #fff; padding: 100px 25px;">
    <h1 class="promote" style="font-family: 'Coming Soon', cursive;">Promotion Pitches</h1>
</div>
<div class="container" style="font-family: 'Indie Flower', cursive; font-size: 30px;">
    <hr>
    <div class="row">
        {{macro.displayPitches(pitches)}}
    </div>
</div>
{%endblock%}