<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Project Pitch</title>
    {% endif %}
</head>
<body>
    <div class="container text-center col-md-12">
        <div class="heading">
            <i class="fa fa-github" aria-hidden="true"></i>
            <h1>GITHUB SEARCH</h1>
            <p>Wana see their badly indented code??</p>
        </div>
        <div class="button">
            <span><button><a href="#">VIEW PITCHES</a></button><button>CREATE A PICTH</button><span>
        </div>
    </div>
            {% with messages=get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
            {% endwith %}
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</body>
</html>